<!-- header 样式 -->
<style>   
.header {
	padding: 0 12px;
	height: 57px;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
	justify-content: space-between;
}

.header button {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 16px;
	margin-left: 10px;
}
</style>

<header class="header">
    <div class="header-left">

    </div>

    <div class="header-right">
        <button id="logout-btn" title="退出登录">退出</button>
    </div>
</header>

<script>
    async function request(url, options = {}) {
        try {
            const res = await fetch(url, {
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    ...options.headers
                },
                ...options
            })
            const data = await res.json()
            if (!res.ok) throw new Error(data.message || '请求失败')
            return data
        } catch (err) {
            console.error(err)
            alert(err.message)
            throw err
        }
    }

    // 使用
    document.getElementById("logout-btn").onclick = async function () {
        if (!confirm("确定要退出登录吗？")) return;

        const data = await request("/{$baseConfig.adminRoutePrefix}/api/user/logout", { method: "POST" });
        if (data.status) {
            window.location.href = "/{$baseConfig.adminRoutePrefix}/login";
        }
    };

</script>