<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tp-cms</title>

    <!-- css -->
    <link rel="stylesheet" href="__ADMIN_CSS__/const.css">
    <link rel="stylesheet" href="__ADMIN_CSS__/base.css">
    <link rel="stylesheet" href="__ADMIN_CSS__/style.css">

    <!-- 自定义js -->
    <script src="__ADMIN_JS__/utils/request.js"></script>

    <!-- github https://github.com/jquery/jquery -->
    <!-- 官网 https://jquery.com/ -->
    <script src="__ADMIN_JS__/jquery-3.7.1.min.js"></script>

    <!-- github https://github.com/layui/layui -->
    <!-- 官网 https://layui.dev/ -->
    <link rel="stylesheet" href="__ADMIN_CSS__/layui/layui.css">
    <script src="__ADMIN_JS__/layui/layui.js"></script>

    <!-- github https://github.com/craftpip/jquery-confirm -->
    <!-- 官网 https://craftpip.github.io/jquery-confirm/ -->
    <link rel="stylesheet" href="__ADMIN_CSS__/jquery-confirm/jquery-confirm.min.css">
    <script src="__ADMIN_JS__/jquery-confirm/jquery-confirm.min.js"></script>

    <!-- github https://github.com/wangeditor-team/wangEditor -->
    <!-- 官网 https://www.wangeditor.com/ -->
    <link rel="stylesheet" href="__ADMIN_CSS__/wangeditor/style.css">
    <script src="__ADMIN_JS__/wangeditor/index.js"></script>
</head>