<header>
    <div class="header-left">

    </div>

    <div class="header-right">
        <button id="logout-btn" title="退出登录">退出</button>
    </div>
</header>

<script>
    // 使用
    document.getElementById("logout-btn").onclick = async function () {
        if (!confirm("确定要退出登录吗？")) return;

        const data = await request("/{$baseConfig.adminRoutePrefix}/api/user/logout", { method: "POST" });
        if (data.status) {
            window.location.href = "/{$baseConfig.adminRoutePrefix}/login";
        }
    };

</script>