* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
}

/* main 中内容信息 */
.wrap-con .con-header {
	padding: 0 12px;
}

/* wangeditor */
/* 外部容器 */
.editor-wrapper {
	border: 1px solid #eeeeee;
}
.editor-wrapper.w-e-full-screen-container {
	z-index: 99;
}
/* 多个时,上面全屏被遮挡问题 */
.editor-wrapper:not(.w-e-full-screen-container) {
	position: relative;
	z-index: 1;
}
/* 工具栏 */
.toolbar-container {
	border-bottom: 1px solid #ccc;
}
/* 编辑区域 */
.editor-container {
	height: 300px;
}

/* 图片选择展示 */
/* 上传展示 */
.preview-img {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding-top: 5px;
}
.preview-img img {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
/* 表格展示 */
.table-preview-img img {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
/* 列表包含封面 */
.table-contain-preview td {
	height: 120px;
}

/* 默认的行样式 */
.table-contain-preview .layui-table-cell {
	height: auto;
}

/* jqconfirm相关 */
/* 弹出框 */
.jqconfirm-alert {
	display: none;
}
/* 按钮 */
.jqconfirm-btn-action {
	background-color: #1e9fff;
	color: #fff;
}

.jqconfirm-alert-item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.jqconfirm-alert-item label {
	width: 74px;
	text-align: center;
	background-color: #f6f8fa;
	color: #25292e;
	padding: 10px;
	border-radius: 6px;
}

.jqconfirm-alert-item select {
	width: 150px;
	display: inline-block;
	height: 38px;
	line-height: 1.3;
	background-color: #fff;
	border-radius: 2px;
	color: #1f2328;
	border-width: 1px;
	border-style: solid;
}
