* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
}

/* main 中内容信息 */
.wrap-con .con-header {
	padding: 0 12px;
}

/* wangeditor */
/* 外部容器 */
.editor-wrapper {
	border: 1px solid #eeeeee;
}
.editor-wrapper.w-e-full-screen-container {
	z-index: 99;
}
/* 多个时,上面全屏被遮挡问题 */
.editor-wrapper:not(.w-e-full-screen-container) {
	position: relative;
	z-index: 1;
}
/* 工具栏 */
.toolbar-container {
	border-bottom: 1px solid #ccc;
}
/* 编辑区域 */
.editor-container {
	height: 300px;
}

/* 图片选择展示 */
/* 上传展示 */
.preview-img {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding-top: 5px;
}
.preview-img img {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
/* 表格展示 */
.table-preview-img img {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
