* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
}

/* 框架 */
.wrap {
	height: 100vh;
	width: 100%;
	display: flex;
}

/* 侧边栏 */
.side {
	width: 230px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-right: 1px solid #ededed;
	background-color: var(--sidebar-bg);
}

/* 标题 */
.side .title {
	font-size: 23px;
	text-align: center;
	font-weight: bold;
}

/* 可滚动区域 */
.side nav {
	flex: 1;
	overflow-y: auto;
}

/* 根菜单 */
.menu-root {
	list-style: none;
	padding-left: 0;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

/* 每个菜单项 */
.menu-item {
	list-style: none;
}

/* 菜单标题容器 */
.menu-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	border-radius: 8px;
	cursor: pointer;
}

/* a 链接 */
.menu-title a {
	flex: 1;
	font-size: 16px;
	color: var(--text-color);
	text-decoration: none;
}

/* hover */
.menu-title:hover {
	background: var(--menu-item-hover);
	font-weight: bold;
}

/* active 高亮 */
.menu-item.active > .menu-title {
	background: var(--menu-item-active);
	font-weight: bold;
}

/* 子菜单 */
.submenu {
	list-style: none;
	padding-left: 16px;
	margin-top: 4px;
	display: none;
	flex-direction: column;
	gap: 4px;
}

/* 打开状态 */
.submenu.open {
	display: flex;
}

/* 箭头 */
.arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid var(--text-color);
	transition: transform 0.2s;
}

/* 旋转箭头 */
.menu-title.open .arrow {
	transform: rotate(180deg);
}

/* 内容 */
.wrap main {
	background-color: var(--bg-color);
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* 限制最大宽度 */
	max-width: calc(100% - 260px);
}

.wrap main header {
	padding: 0 12px;
	height: 57px;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
	justify-content: space-between;
}

.wrap main header button {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 16px;
	margin-left: 10px;
}

.wrap main .main-con {
	padding: 6px;
}
