{extend name="layout/main" /}

{block name="content"}
<div class="wrap-con">
    <div class="con-header">
        <h2>新增产品</h2>
    </div>
    <form class="layui-form" id="product-form">
        <!-- 名称 -->
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" required lay-verify="required" placeholder="请输入产品名称"
                    class="layui-input" autocomplete="off">
            </div>
        </div>

        <!-- 分类 -->
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                <select id="category_id" name="category_id" lay-verify="required">
                    <option value="0">选择分类</option>
                    {volist name="productCategory" id="category" key="id"}
                    <option value="{$id}">{$category}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <!-- 封面图（单张） -->
        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-block cover-con">
                <button type="button" class="layui-btn file-upload" id="upload-cover" data-is-multiple="false"
                    data-container-id="cover-img-preview" data-input-id="cover">上传封面</button>
                <div id="cover-img-preview" class="preview-img"></div>
                <input type="hidden" id="cover" name="cover">
            </div>
        </div>

        <!-- 产品图（支持多张） -->
        <div class="layui-form-item">
            <label class="layui-form-label">产品图</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn file-upload" id="upload-content-images" data-is-multiple="true"
                    data-container-id="content-images-preview" data-input-id="content_image">上传产品图</button>
                <div id="content-images-preview" class="preview-img"></div>
                <input type="hidden" id="content_image" name="content_image">
            </div>
        </div>

        <!-- 简介 -->
        <div class="layui-form-item">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea id="summary" name="summary" lay-verify="required" placeholder="请输入简介"
                    class="layui-textarea"></textarea>
            </div>
        </div>

        <!-- 价格 -->
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="number" id="price" name="price" required lay-verify="required" placeholder="请输入价格"
                    class="layui-input price-input" autocomplete="off" value="0.00">
            </div>
        </div>

        <!-- 百度爱采购链接 -->
        <div class="layui-form-item">
            <label class="layui-form-label">爱采购</label>
            <div class="layui-input-block">
                <input type="url" id="b2b_uri" name="b2b_uri" placeholder="请输入百度爱采购链接" class="layui-input"
                    autocomplete="off">
            </div>
        </div>

        <!-- 内容 -->
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block editor-wrapper">
                <div id="content-toolbar-container" class="toobal-container"></div>
                <div id="content-editor-container" class="editor-container"></div>
            </div>
        </div>

        <!-- 参数 -->
        <div class="layui-form-item">
            <label class="layui-form-label">参数</label>
            <div class="layui-input-block editor-wrapper">
                <div id="parameter-toolbar-container" class="toobal-container"></div>
                <div id="parameter-editor-container" class="editor-container"></div>
            </div>
        </div>

        <!-- 提交按钮 -->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>

<!-- 文件上传 -->
{include file="components/fileupload" /}

<script>
    // 富文本编辑器初始化
    const uploadURL = "/{$baseConfig.adminRoutePrefix}/api/file/upload";
    const cEditor = initEditor(uploadURL, '#content-editor-container', '#content-toolbar-container');
    const pEditor = initEditor(uploadURL, '#parameter-editor-container', '#parameter-toolbar-container');

    // 文件上传
    FileUploader.bind('.file-upload')

    // 价格
    clearDefaultValueOnFocus('.price-input', '0.00')

    // 提交表单
    document.getElementById('product-form').addEventListener('submit', function (e) {
        e.preventDefault();

        // 富文本框信息
        const editorContents = {
            content: cEditor.getHtml(),
            parameter: pEditor.getHtml(),
        };

        const url = "/{$baseConfig.adminRoutePrefix}/api/product/create";

        submitForm('product-form', url, editorContents, function () {
            setTimeout(() => {
                window.history.back();
            }, 500);
        });
    });
</script>
{/block}