{extend name="layout/main" /}

<!-- 这里需要和main.html中相同，使用block包裹 -->
{block name="content"}
<div class="wrap-con">
    <div class="con-header">
        <!-- 搜索框和分类筛选框 -->
        <div class="search-bar">
            <input type="text" id="keyword" class="layui-input" placeholder="请输入关键词"
                style="width: 200px; display: inline-block;">
            <select id="category" class="layui-select" style="width: 150px; display: inline-block;">
                <option value="">选择分类</option>
                {volist name="productCategory" id="category" key="id"}
                <option value="{$id}">{$category}</option>
                {/volist}
            </select>
            <button class="layui-btn" id="searchBtn">搜索</button>
            <a class="layui-btn layui-btn-normal" href="/{$baseConfig.adminRoutePrefix}/product/create">新增</a>
            <button class="layui-btn layui-btn-danger" id="deleteBtn">删除</button>
        </div>
    </div>
    <div class="table-wrap">
        <!-- 将表格ID作为标识 -->
        <table class="layui-table" id="table-id" lay-filter="filter"></table>
    </div>
</div>

<!-- 将layui-table的配置提取到一个JavaScript对象中 -->
<script>
    layui.use(['table', 'layer'], function () {
        const table = layui.table
        table.reload('table-id')
    })
    renderTable('#table-id', '/{$baseConfig.adminRoutePrefix}/api/product/index', {
        actionWidth: 200,
        checkbox: true,
        filter: 'filter',
        searchFormId: 'searchBtn',
        deleteBtnId: 'deleteBtn',
        actions: {
            edit: '/{$baseConfig.adminRoutePrefix}/product/update/{id}',
            editText: '编辑',
            delete: '/{$baseConfig.adminRoutePrefix}/api/product/delete',
            deleteText: '删除',
        },
        cols: [
            { field: 'title', title: '产品名称', width: 200 },
            { field: 'category_name', title: '分类', width: 200 },
            { field: 'summary', title: '描述', width: 300 },
            { field: 'price', title: '价格', width: 100, sort: true },
            { field: 'b2b_uri', title: '百度爱采购', width: 200, templet: d => d.b2b_uri ? `<a href="${d.b2b_uri}" target="_blank">访问店铺</a>` : '暂未设置' },
            { field: 'created_at', title: '创建时间', width: 200 }
        ],
        checkboxCallback: function (obj) {
            console.log('选中行数据:', obj.data);
            console.log('是否选中:', obj.checked);
            console.log('触发类型:', obj.type);
        }
    });
</script>
{/block}