{extend name="layout/main" /}

{block name="content"}
<div class="wrap-con">
    <div class="con-header">
        <h2>更新产品</h2>
    </div>
    <form class="layui-form" id="product-form">
        <!-- id信息 -->
        <input type="text" id="id" name="id" value="{$info.id}" hidden>
        <!-- 标题 -->
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" required lay-verify="required" placeholder="请输入产品名称"
                    class="layui-input" value="{$info.title}">
            </div>
        </div>

        <!-- 分类 -->
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                <select id="category_id" name="category_id" lay-verify="required">
                    <option value="">选择分类</option>
                    {volist name="productCategory" id="category" key="id"}
                    <option value="{$id}"
                    {if condition="$info.category_id == $id"}selected{/if}>{$category}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <!-- 封面图（单张） -->
        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn file-upload" id="upload-cover" data-is-multiple="false"
                    data-container-id="cover-file-preview" data-input-id="cover">上传封面</button>
                <div id="cover-file-preview" class="preview-img">
                    {volist name="info.cover_file" id="img"}
                        <img src="/{$img.path}" data-file-id="{$img.id}">
                    {/volist}
                </div>
                <input type="hidden" id="cover" name="cover" value="{$info.cover}">
            </div>
        </div>

        <!-- 产品图（支持多张） -->
        <div class="layui-form-item">
            <label class="layui-form-label">产品图</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn file-upload" id="upload-content-images" data-is-multiple="true"
                    data-container-id="content-images-preview" data-input-id="content_image">上传产品图</button>
                <div id="content-images-preview" class="preview-img">
                    {volist name="info.content_image_file" id="img"}
                    <img src="/{$img.path}" data-file-id="{$img.id}">
                    {/volist}
                </div>
                <input type="hidden" id="content_image" name="content_image" value="{$info.content_image}">
            </div>
        </div>

        <!-- 简介 -->
        <div class="layui-form-item">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea id="summary" name="summary" placeholder="请输入简介" class="layui-textarea">{$info.summary}</textarea>
            </div>
        </div>

        <!-- 价格 -->
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="number" id="price" name="price" required lay-verify="required" placeholder="请输入价格"
                    class="layui-input price-input" value="{$info.price}">
            </div>
        </div>

        <!-- 百度爱采购链接 -->
        <div class="layui-form-item">
            <label class="layui-form-label">爱采购</label>
            <div class="layui-input-block">
                <input type="url" id="b2b_uri" name="b2b_uri" placeholder="请输入百度爱采购链接" class="layui-input" value="{$info.b2b_uri}">
            </div>
        </div>

        <!-- 内容 -->
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block editor-wrapper">
                <div id="content-toolbar-container" class="toobal-container"></div>
                <div id="content-editor-container" class="editor-container"></div>
            </div>
        </div>
        
        <!-- 参数 -->
        <div class="layui-form-item">
            <label class="layui-form-label">参数</label>
            <div class="layui-input-block editor-wrapper">
                <div id="parameter-toolbar-container" class="toobal-container"></div>
                <div id="parameter-editor-container" class="editor-container"></div>
            </div>
        </div>

        <!-- 提交按钮 -->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>

<!-- 文件上传 -->
{include file="components/fileupload" /}

<script>
    // 富文本编辑器初始化
    const uploadURL = "/{$baseConfig.adminRoutePrefix}/api/file/upload";
    
    // // 这里可以这样，可是编辑器报红，强迫症很难受
    // const contentHTML = {$info.content|json_encode|raw};
    // const parameterHTML = {$info.parameter|json_encode|raw};

    const cEditor = initEditor(uploadURL, '#content-editor-container', '#content-toolbar-container', "{$info.content}");
    const pEditor = initEditor(uploadURL, '#parameter-editor-container', '#parameter-toolbar-container', "{$info.parameter}");

    // 文件上传
    FileUploader.bind('.file-upload')

    // 价格
    clearDefaultValueOnFocus('.price-input', '0.00')

    // 提交表单
    document.getElementById('product-form').addEventListener('submit', function (e) {
        e.preventDefault();

        // 富文本框信息
        const editorContents = {
            content: cEditor.getHtml(),
            parameter:pEditor.getHtml(),
        };

        const url = "/{$baseConfig.adminRoutePrefix}/api/product/update";

        submitForm('product-form', url, editorContents, function () {
            setTimeout(() => {
                window.history.back();
            }, 500);
        });
    });
</script>
{/block}